pymongo
pandas
pandera
fastapi
uvicorn
mlflow
psycopg2-binary
torch
transformers
pydantic
celery
redis
prometheus-fastapi-instrumentator
pytest
requests
datasets
scikit-learn
torchmetrics
numpy
accelerate
boto3
torchvision
